* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #8360c3, #2e57bf);
}

.container {
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    font-size: 1rem;
}

button {
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    background: linear-gradient(90deg, #2ebf91, #8360c3);
}

button:hover {
    transform: scale(1.05);
}

.message {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
    font-weight: 500;
}

